@import "CommonStyle.css";

.text-field:focused {
    -fx-border-color: -fx-focus-border-color;
}

.radio-button, .check-box {
    -fx-text-fill: -fx-main-font-color;
}


.text-area, .text-area:focused, .text-field {
    -fx-prompt-text-fill: -fx-subtle-font-color;
    -fx-text-fill: -fx-main-font-color;
}

.text-area, .text-area .content, .text-field {
    -fx-background-color: -fx-foreground-color;
    -fx-background-radius: 4pt;
    -fx-border-radius: 4pt;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area:focused {
    -fx-background-color: -fx-focus-border-color;
}

.text-input-error {
    -fx-border-color: red;
    -fx-text-box-border: red
}

.table-view {
    -fx-background-color: -fx-view-background-color;
}

.table-view .column-header {
    -fx-background-color: -fx-foreground-color;
}

.table-view .column-header .label {
    -fx-text-fill: -fx-main-font-color;
}

.table-view .column-header-background {
    -fx-background-color: -fx-foreground-color;
}

.table-view .column-header-background .filler {
    -fx-background-color: -fx-foreground-color;
}

.table-view .placeholder .label {
    -fx-text-fill: -fx-main-font-color;
}

.table-cell {
    -fx-text-fill: -fx-main-font-color;
}

.table-row-cell:odd {
    -fx-background-color: -fx-foreground-color;
}

.table-row-cell:even {
    -fx-background-color: -fx-accent-pale-color;
}

.table-row-cell:selected {
    -fx-background-color: -fx-accent-color;
}

.table-row-cell:empty > *.table-cell {
    -fx-background-color: -fx-view-background-color;
    -fx-border-width: 0;
}

.table-view .virtual-flow .scroll-bar,
.tree-view .virtual-flow .scroll-bar,
.text-area .scroll-bar {
    -fx-background-color: -fx-foreground-color;
}

.table-view .virtual-flow .scroll-bar .thumb,
.tree-view .virtual-flow .scroll-bar .thumb,
.text-area .scroll-bar .thumb {
    -fx-background-color: -fx-subtle-font-color;
}

.table-view .virtual-flow .scroll-bar .increment-button:hover,
.table-view .virtual-flow .scroll-bar .decrement-button:hover,
.tree-view .virtual-flow .scroll-bar .increment-button:hover,
.tree-view .virtual-flow .scroll-bar .decrement-button:hover,
.text-area .scroll-bar .increment-button:hover,
.text-area .scroll-bar .decrement-button:hover {
    -fx-background-color: -fx-accent-color;
}

.split-pane > .split-pane-divider {
    -fx-background-color: -fx-foreground-color;
}

.tree-view {
    -fx-background-color: -fx-view-background-color;
}

.tree-cell {
    -fx-background-color: -fx-view-background-color;
    -fx-text-fill: -fx-main-font-color;
}

.tree-cell:selected {
    -fx-background-color: -fx-accent-color;
}

.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-main-font-color;
}

