.root {
    -fx-background-color: #2B2B2B;
    -fx-foreground-color: #3C3F41;
    -fx-view-background-color: #343436;
    -fx-selected-background-color: #0096C9;

    -fx-main-font-color: #D4D4D4;
    -fx-subtle-font-color: #989898;
}

.radio-button, .check-box {
    -fx-text-fill: -fx-main-font-color;
}

.text-field {
    -fx-background-color: -fx-foreground-color;
}

.text-area, .text-area:focused {
    -fx-prompt-text-fill: -fx-subtle-font-color;
    -fx-text-fill: -fx-main-font-color;
}

.text-area, .text-area .content {
    -fx-background-color: -fx-foreground-color;
    -fx-background-radius: 4pt;
    -fx-border-radius: 4pt;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area:focused {
    -fx-background-color: #e3e3e3;
}

.titled-pane {
    -fx-text-fill: -fx-main-font-color;
}

.titled-pane .title {
    -fx-background-color: #3C3F41;
}

.titled-pane > *.content {
    -fx-border-color: #3C3F41;
}

.split-pane > .split-pane-divider {
    -fx-background-color: #3C3F41;
}

.table-view {
    -fx-background-color: -fx-view-background-color;
}

.table-view .column-header {
    -fx-background-color: #3C3F41;
}

.table-view .column-header .label {
    -fx-text-fill: -fx-main-font-color;
}

.table-view .column-header-background {

}

.table-view .column-header-background .filler {
    -fx-background-color: #3C3F41;
}

.table-view .placeholder .label {
    -fx-text-fill: -fx-main-font-color;
}

.table-cell {
    -fx-text-fill: -fx-main-font-color;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}

.table-row-cell:odd {
    -fx-background-color: #5b5b5b;

    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even {
    -fx-background-color: #776767;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: -fx-selected-background-color;
}

.tree-view {
    -fx-background-color: -fx-view-background-color;
}

.tree-cell {
    -fx-background-color: -fx-view-background-color;
    -fx-text-fill: -fx-main-font-color;
}

.tree-cell:selected {
    -fx-background-color: -fx-selected-background-color;
}

.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-main-font-color;
}


.button {
    -fx-background-radius: 5pt;
    -fx-border-radius: 5pt;
    -fx-background-color: #2F8ECA;
    -fx-border-color: black;
}