@import "CommonStyle.css";

.manually-analyzed-row {
    -fx-background-color: rgba(1, 87, 1, 0.25);
}

.assumption-table-view {
    -fx-background-color: -fx-view-background-color;
}

.assumption-table-view .column-header {
    -fx-border-color: -fx-subtle-font-color;
    -fx-border-width: 1pt 1pt 1pt 1pt;
}

.assumption-table-view .column-header,
.assumption-table-view .column-header-background .filler {
    -fx-background-color: #888888;
}

.assumption-table-view .placeholder .label {
    -fx-text-fill: -fx-main-font-color;
}

.assumption-table-view .table-cell {
    -fx-text-fill: -fx-main-font-color;
    -fx-border-color: -fx-subtle-font-color;
}

.assumption-table-view .table-row-cell:odd {
    -fx-background-color: #4c4c4f;
}

.assumption-table-view .table-row-cell:even {
    -fx-background-color: #495257;
}

.assumption-table-view .table-row-cell:empty, .table-row-cell:empty .table-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.assumption-table-view .table-row-cell:selected {
    -fx-background-color: -fx-accent-color;
}

.assumption-table-view .column-header .label {
    -fx-text-fill: white;
}

.assumption-table-view .virtual-flow .corner,
.assumption-table-view .virtual-flow .scroll-bar {
    -fx-background-color: #888888;
}

.assumption-table-view .virtual-flow .scroll-bar .thumb {
    -fx-background-color: -fx-focus-border-color;
}

.assumption-table-view .virtual-flow .scroll-bar .increment-button:hover,
.assumption-table-view .virtual-flow .scroll-bar .decrement-button:hover {
    -fx-background-color: -fx-accent-color;
}