@import "CommonStyle.css";
@import "SubtleTableView.css";

/* TODO: Refactor */
.menu-bar {
    -fx-padding: 0;
}

.menu {
    -fx-padding: 0;
}

.menu-bar, .menu-item {
    -fx-background-color: -fx-foreground-color;
    -fx-text-fill: -fx-main-font-color;
}

.menu-item {
    -fx-border-color: transparent;
    -fx-padding: 0 2pt 0 0;
}

.menu-item:focused {
    -fx-background-color: -fx-accent-color;
    -fx-border-color: #2B2B2B;
}

.context-menu {
    -fx-background-color: -fx-accent-pale-color;
    -fx-padding: 0;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: #2B2B2B;
    -fx-border-insets: 1 0 0 0;
}

.split-pane {
    -fx-background-color: -fx-foreground-color;
    -fx-padding: 0;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.text-node {
    -fx-fill: -fx-main-font-color;
}

.primary-table-view {
    -fx-background-color: -fx-view-background-color;
}

.primary-table-view .column-header {
    -fx-background-color: #888888;
    -fx-border-color: -fx-subtle-font-color;
    -fx-border-width: 1pt 1pt 1pt 1pt;
}

.primary-table-view .column-header-background .filler {
    -fx-background-color: #888888;
}

.primary-table-view .placeholder .label {
    -fx-text-fill: -fx-main-font-color;
}

.primary-table-view .table-cell {
    -fx-text-fill: -fx-main-font-color;
    -fx-border-color: -fx-subtle-font-color;
}

.primary-table-view .table-row-cell:odd {
    -fx-background-color: #4c4c4f;
}

.primary-table-view .table-row-cell:even {
    -fx-background-color: #495257;
}

.manually-analyzed-row {
    -fx-background-color: rgba(1, 87, 1, 0.25);
}

.primary-table-view .table-row-cell:empty, .table-row-cell:empty .table-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.primary-table-view .table-row-cell:selected {
    -fx-background-color: -fx-accent-color;
}

.primary-table-view .column-header .label {
    -fx-text-fill: white;
}

.primary-table-view .virtual-flow .corner {
    -fx-background-color: #888888;
}

.primary-table-view .virtual-flow .scroll-bar {
    -fx-background-color: #888888;
}

.primary-table-view .virtual-flow .scroll-bar .thumb {
    -fx-background-color: -fx-focus-border-color;
}

.primary-table-view .virtual-flow .scroll-bar .increment-button:hover,
.primary-table-view .virtual-flow .scroll-bar .decrement-button:hover {
    -fx-background-color: -fx-accent-color;
}

.text-area, .text-area:focused {
    -fx-text-fill: -fx-main-font-color;
    -fx-border-color: -fx-foreground-color;
    -fx-padding: 0;
    -fx-border-width: 0 2pt 0 2pt;
}

.text-area, .text-area .content {
    -fx-background-color: -fx-foreground-color;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area:focused {
    -fx-background-color: -fx-focus-border-color;
}

.text-area .corner {
    -fx-background-color: -fx-foreground-color;
}

.text-area .scroll-bar {
    -fx-background-color: -fx-foreground-color;
}

.text-area .scroll-bar .thumb {
    -fx-background-color: -fx-subtle-font-color;
}

.text-area .scroll-bar .increment-button:hover,
.text-area .scroll-bar .decrement-button:hover {
    -fx-background-color: -fx-accent-color;
}

.grid-pane {
    -fx-background-color: -fx-foreground-color;
}

.label {
    -fx-text-fill: -fx-main-font-color;
    -fx-padding: 5pt 5pt 5pt 5pt;
}

.clickable-label:hover, .label-hover {
    -fx-background-color: #303234;
}

.text-area {
    -fx-text-fill: #B2AEAD;
}

.text-area .content {
    -fx-background-color: #2B2B2B;
}

.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
}
