.BarBackground {
    -fx-background-color: #3C3F41;
}

.LabelBar .label {
    -fx-text-fill: #B8B5B3;
}

.menu-item .label {
    -fx-text-fill: black;
}

.ClickableLabel {
    -fx-padding: 5pt 5pt 5pt 5pt;
}

.ClickableLabel:hover {
    -fx-background-color: #303234;
}

.OutputTextArea {
    -fx-text-fill: #B2AEAD;
}

.OutputTextArea .content {
    -fx-background-color: #2B2B2B;
}

.CustomTitledPane {
    -fx-text-fill: #B8B5B3;
}

.CustomTitledPane .title {
    -fx-background-color: #515658;
}
