@import "CommonStyle.css";

.subtle-table-view {
    -fx-background-color: -fx-view-background-color;
    -fx-padding: 0;
    -fx-border-color: -fx-view-background-color;
    -fx-border-width: 1pt 0 1pt 1pt;
}

.subtle-table-view .column-header {
    -fx-background-color: -fx-foreground-color;
    -fx-border-color: -fx-view-background-color;
    -fx-border-width: 0 0 1pt 0;
}

.subtle-table-view .column-header-background {
    -fx-background-color: -fx-foreground-color;
}

.subtle-table-view .column-header .label {
    -fx-text-fill: -fx-main-font-color;
}

.subtle-table-view .column-header-background .filler,
.subtle-table-view .virtual-flow .corner {
    -fx-background-color: -fx-foreground-color;
}

.subtle-table-view .placeholder .label {
    -fx-text-fill: -fx-main-font-color;
}

.subtle-table-view .table-cell {
    -fx-text-fill: -fx-main-font-color;
    -fx-padding: 0 0 0 10pt;
}

.subtle-table-view .table-row-cell {
    -fx-border-color: -fx-view-background-color;
}

.subtle-table-view .table-row-cell:selected {
    -fx-background-color: -fx-accent-color;
}

.subtle-table-view .table-row-cell:empty > *.table-cell {
    -fx-background-color: -fx-view-background-color;
    -fx-border-width: 0;
}

.subtle-table-view .virtual-flow .scroll-bar,
.subtle-table-view .virtual-flow .scroll-bar {
    -fx-background-color: -fx-foreground-color;
}

.subtle-table-view .virtual-flow .scroll-bar .thumb {
    -fx-background-color: -fx-subtle-font-color;
}

.subtle-table-view .virtual-flow .scroll-bar .increment-button:hover,
.subtle-table-view .virtual-flow .scroll-bar .decrement-button:hover {
    -fx-background-color: -fx-accent-color;
}

.subtle-table-view .table-row-cell {
    -fx-background-color: -fx-view-background-color;
}

.subtle-table-view .table-row-cell:focused {
    -fx-background-color: -fx-accent-color;
}